.card,
.pedido-card,
.produto-card,
.stat-box,
.perfil-card {
    background: var(--card);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}