/* ==========================================
   DASHBOARD
========================================== */

.content{
    padding:30px;
}

.page-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.page-header h1{
    font-size:32px;
    color:var(--title);
}

.page-header p{
    color:var(--text);
    margin-top:5px;
}

/* ==========================
   Cards
========================== */

.cards{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

    margin-top:30px;

}

.card{

    background:white;

    border-radius:18px;

    padding:25px;

    box-shadow:var(--shadow-sm);

    transition:.30s;

    cursor:pointer;

}

.card:hover{

    transform:translateY(-6px);

    box-shadow:var(--shadow-lg);

}

.card-top{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.card-icon{

    width:55px;

    height:55px;

    border-radius:14px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

    color:white;

}

.blue{

    background:#2563EB;

}

.green{

    background:#16A34A;

}

.orange{

    background:#EA580C;

}

.purple{

    background:#7C3AED;

}

.card h2{

    font-size:32px;

    margin:18px 0 8px;

}

.card span{

    color:var(--text);

}