/* ==========================================
   LOGIN
========================================== */

.login{
    display:grid;
    grid-template-columns:1fr 520px;
    min-height:100vh;
}

/* ===========================
   Banner
=========================== */

.login-banner{

    position:relative;

    background:url("../img/login-banner.jpg") center center;

    background-size:cover;

    display:flex;

    align-items:flex-end;

    padding:60px;

}

.overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(
        180deg,
        rgba(37,99,235,.15),
        rgba(15,23,42,.85)
    );

}

.banner-content{

    position:relative;

    color:white;

    z-index:2;

}

.banner-content h1{

    font-size:52px;

    font-weight:700;

    margin-bottom:15px;

}

.banner-content p{

    font-size:18px;

    line-height:30px;

    max-width:500px;

    color:#E2E8F0;

}

/* ===========================
   Formulário
=========================== */

.login-form{

    background:white;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:50px;

}

.login-card{

    width:100%;

    max-width:420px;

}

.logo-area{

    text-align:center;

    margin-bottom:40px;

}

.logo-circle{

    width:85px;

    height:85px;

    margin:auto;

    border-radius:50%;

    background:var(--primary);

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:38px;

    color:white;

    margin-bottom:20px;

}

.logo-area h2{

    font-size:30px;

    color:var(--title);

}

.logo-area span{

    color:var(--text-light);

}

.login-card h3{

    font-size:30px;

    margin-bottom:10px;

}

.login-card p{

    color:var(--text);

    margin-bottom:35px;

}

/* ===========================
   Inputs
=========================== */

.input-group{

    display:flex;

    flex-direction:column;

    margin-bottom:20px;

}

.input-group label{

    margin-bottom:8px;

    font-weight:500;

}

.input-group input{

    height:55px;

    border:1px solid var(--border);

    border-radius:12px;

    padding:0 18px;

    transition:.3s;

    background:#FAFBFD;

}

.input-group input:focus{

    border-color:var(--primary);

    box-shadow:0 0 0 4px rgba(37,99,235,.15);

}

/* ===========================
   Opções
=========================== */

.login-options{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

    font-size:14px;

}

.login-options a{

    color:var(--primary);

    font-weight:600;

}

/* ===========================
   Botão
=========================== */

.btn-login{

    width:100%;

    height:56px;

    border-radius:14px;

    background:var(--primary);

    color:white;

    font-size:17px;

    font-weight:600;

    transition:.3s;

}

.btn-login:hover{

    background:var(--primary-hover);

    transform:translateY(-2px);

    box-shadow:0 10px 25px rgba(37,99,235,.25);

}